
<!DOCTYPE html>
<html>
<head>
    <title>Fake Review Detection</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <header>
        <h1>Fake Review Detection</h1>
    </header>
    <nav>
        <ul>
           
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Registration</a></li>
       
        </ul>
    </nav>
    <section>
        <h2>Welcome to Fake Review Detection Website!</h2>
        <p>Here you can learn about detecting and combating fake reviews.</p>
        <img src="/static/image/2.jpg" alt="Image Description" style="position: absolute; top: 250px; left: 100px;">
        <img src="/static/image/4.jpg" alt="Image Description" style="position: absolute; top: 250px; left: 1100px;">
        <img src="/static/image/5.jpg" alt="Image Description" style="position: absolute; top: 550px; left: 100px;">
        <img src="/static/image/6.jpg" alt="Image Description" style="position: absolute; top: 550px; left: 1100px;">
        <img src="/static/image/Centre.jpg" alt="Image Description" style="position: absolute; top: 300px; left: 450px;">
    </section>
 
</body>
</html>