<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Fake Review Detection</title>
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">

  
<body>
  <header>
    <nav>
      <ul>

        <li><a href="/">Home</a></li>
        <h1>Fake Review Detection</h1>
        
      </ul>
    
    </nav>
  </header>

 

  <section class="hero">
    
     
    
      <form  id="review-form" action= "{{ url_for('classify_review') }} " method="POST"> 
        <textarea name="review" id="review-input" placeholder="Enter your review"></textarea>
        <br>
        <button type="submit" id="submit-btn">Submit</button>
      </form>
    
  </section>

  <section class="results">
    <div id="result-item" class="result-item">
      <h2>Review Analysis</h2>
      <p id="result-text"></p>
    </div>
  </section>



  <script>
    document.getElementById("review-form").addEventListener("submit", function(event) {
      event.preventDefault();
  
      var reviewInput = document.getElementById('review-input').value;
      var formData = new FormData();
      formData.append('review', reviewInput);
  
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/classify-review", true);
  
      xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
          var response = JSON.parse(xhr.responseText);
          document.getElementById('result-text').textContent = response.result;
        }
      };
  
      xhr.send(formData);
    });
  </script>
  
</body>
</html>

