<!DOCTYPE html>
<html>
<head>
    <title>Register page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/registration.css') }}">
    <h2 class = "text-center">Fake Review Detection</h2>
</head>
<body class = "body">
        <div class="form-container">
            <h1>Registration</h1>
            <form method="POST" action="/register">
                <label for="reg-username">Username:</label>
                <input type="text" id="reg-username" name="reg-username" required>

                <label for="reg-password">Password:</label>
                <input type="password" id="reg-password" name="reg-password" required>

                <label for="confirm-password">Confirm Password:</label>
                <input type="password" id="confirm-password" name="confirm-password" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <input type="submit" name="register" value="Register">
            </form>
        </div>

</body>
</html>