/* Global Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #aff3f3;
    /* background-image: url('Picture.jpg'); */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    
}

/* Header Styles */

header {
    background-color: #f41616;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 28px;
    margin: 0;
}

header h2{
    font-size: 28px;
    margin: 0;
}

/* Navigation Styles */

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    float: right;
    width: 100px;
   
}

nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #7ab5df;
    color: #fff;
}

/* Section Styles */

section {
    padding: 20px;
    text-align: center;
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

section p {
    font-size: 16px;
}

/* Footer Styles */

footer {
    background-color: #2af310;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}